html {
    font-family: sans-serif;
    background: #eae6d1;
    color: #c58939;
}

a,
a:visited {
    color: #c58939;
}

body {
    margin: 1em 25%;
    line-height: 2em;
    background: white;
}

h3, h2, p {
    padding: 1em ;
    font-size: 1.5em;
    margin: 0;
}

h2, ul {
    margin: 0;
}


header h1 {
    font-size: 4em;
    line-height: 2em;
    margin: 0;
}
header {
    margin: 0;
    color: white;
    display: block;
    text-align: center;
    background: #235796;
}

footer {
    background: #235796;
    color: white;
    margin-top: 3em;
    padding: .5em;
}

footer a,
footer a:visited {
    color: white;
    text-decoration: underline;
}

footer a {
    margin-left: 1em;
}